<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>CustomerPlan</title>
    <script type="text/javascript" th:src="@{/jquery-3.2.1.min.js}"></script>
</head>
<body>
    <p th:text="'Customer Plan '+${customerPlan.name} + ' has been created!'"></p>
    <form action="javascript:void(0);" method="post" id="form">
        <table>
            <tr>
                <input type="number" name="customerPlanId" th:value="${customerPlan.id}" hidden="hidden"/>
                <td>event 1 <input type="number" name="eventId"/></td>
                <td>start time : <input type="date" name="startTime"/></td>
                <td>start time : <input type="date" name="endTime"/></td>
                <td>sort <input type="number" name="sort"/></td>
            </tr>
            <tr>
                <input type="number" name="customerPlanId" th:value="${customerPlan.id}" hidden="hidden"/>
                <td>event 2 <input type="number" name="eventId"/></td>
                <td>start time : <input type="date" name="startTime"/></td>
                <td>start time : <input type="date" name="endTime"/></td>
                <td>sort <input type="number" name="sort"/></td>
            </tr>
            <tr>
                <input type="number" name="customerPlanId" th:value="${customerPlan.id}" hidden="hidden"/>
                <td>event 3 <input type="number" name="eventId"/></td>
                <td>start time : <input type="date" name="startTime"/></td>
                <td>start time : <input type="date" name="endTime"/></td>
                <td>sort <input type="number" name="sort"/></td>
            </tr>
        </table>
    </form>
</body>
</html>