/* .nav-custom-menu
{
    float: right;
}

.user-image
{
    width: 25px;
    height: 25px;
    margin-top: -8px;
    border-radius: 50%;
    border: 2px solid;
    border-color: black;
}

#stepProgress
{
    margin-top: 0px;
    padding: 0px;
    width: 70%;
    height: 80px;
    margin-bottom: 20px;
}

.input-box
{
    margin-bottom: 15px;
} */