/* .nav-custom-menu {
    float: right;
}

.user-image {
    width: 25px;
    height: 25px;
    margin-top: -8px;
    border-radius: 50%;
    border: 2px solid;
    border-color: black;
}

.affix
{
    width: 130px;
    border-bottom-width: 0px;
    padding-right: 0px;
}

.affix-top
{
    width: 130px;
    border-bottom-width: 0px;
}

.table-div
{
    margin-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
} */