.nav-custom-menu {
    float: right;
}

.user-image {
    width: 25px;
    height: 25px;
    margin-top: -8px;
    border-radius: 50%;
    border: 2px solid;
    border-color: black;
}

.affix
{
    width: 25%;
    border-bottom-width: 0px;
    padding-right: 22.5px;
}

.affix-top
{
    width: 100%;
    border-bottom-width: 0px;
}